workflows/biblical-cinematic/archive/releases/RELEASES/v7.1-broken/Biblical-Video-Workflow-v7-Phase1.json
{
  "name": "Biblical-Video-Workflow-v7-Phase1",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get the input text from previous node\nconst inputText = $('Bible Chapter Text Input').item.json.inputText;\n\n// ENHANCED Build the request payload with improved Black Hebrew Israelite representation\nconst requestPayload = {\n  model: \"sonar-pro\",\n  messages: [{\n    role: \"user\", \n    content: `You are a Biblical storytelling and video production expert specializing in authentic Black Hebrew Israelite biblical content. Create a script for a PRODUCTION-QUALITY 20-scene video that narrates the Bible chapter content provided: \"${inputText}\" exactly as it is\u2014word for word and line for line. Do not summarize or paraphrase any part of the biblical text. Instead, break the Bible chapter into EXACTLY 20 SCENES that facilitate the creation of engaging biblical video content for a full-length production video.\n\nCRITICAL VISUAL REQUIREMENTS - READ CAREFULLY:\n- MANDATORY: ALL human characters must be depicted as Black African Hebrew Israelites with dark melanated skin, natural hair (locs/braids), wearing traditional Hebrew garments with tzitzit (fringes)\n- FORBIDDEN: No Caucasian, white, European, or light-skinned characters unless explicitly specified in the biblical text\n- REQUIRED CLOTHING: Traditional Hebrew robes, head coverings, prayer shawls with visible fringes (tzitzit), sandals\n- SKIN TONE: Rich dark melanated skin tones exclusively - use terms like \"deeply melanated,\" \"rich dark skin,\" \"African heritage\"\n- HAIR: Natural Black hair textures - locs, braids, afros, or covered with traditional head wraps\n\nFor each non-empty verse or sentence of the biblical text, create a separate scene where both the overlaid text and the voice-over text match the biblical text exactly.\n\nIf a verse is too short to meet the minimum voice-over text length of 20 words, combine it with the following verse(s) without altering the original biblical wording.\n\nYour output must be in JSON format following this exact schema:\n\n{\n  \"scenes\": [\n    {\n      \"overlaidText\": \"Direct biblical phrase from the text (3-8 words)\",\n      \"voiceOverText\": \"Exact biblical text word-for-word (20+ words minimum)\",\n      \"imagePrompt\": \"MANDATORY: Black Hebrew Israelite with deeply melanated skin, locs/natural hair, wearing traditional Hebrew garments with visible tzitzit fringes - [detailed biblical scene description] - photorealistic, ancient Middle Eastern setting, reverent biblical atmosphere\",\n      \"motionDescription\": \"Natural motion for this moment \u2014 e.g. 'Camera slowly pulls back as figure raises hands toward golden sky' or 'Robes ripple in wind, crowd parts like a wave'\"\n    }\n  ]\n}\n\nENHANCED IMAGE PROMPT REQUIREMENTS:\n- ALWAYS start imagePrompt with: \"Black Hebrew Israelite with deeply melanated skin, natural hair (locs/braids), wearing traditional Hebrew robes with visible tzitzit fringes\"\n- ADD specific scene details after the character description\n- INCLUDE: \"photorealistic, ancient biblical times, Middle Eastern landscape, reverent spiritual atmosphere\"\n- CAMERA ANGLE VARIETY: Alternate close-up / medium shot / wide shot / aerial \u2014 never same angle twice in a row.\n- LIGHTING CONTRAST: Specify a dramatic light source per scene \u2014 \"shaft of divine light from above\", \"torch-lit darkness with one focal point\", \"golden hour rays behind silhouette\".\n- AVOID: Any language that could result in European/Caucasian features\n- EMPHASIZE: \"Rich dark skin tone,\" \"African Hebrew heritage,\" \"traditional biblical garments\"\n\nIMPORTANT GUIDELINES:\n- Use the biblical text exactly as provided\u2014word for word and line for line\n- Create a separate scene for each verse or sentence in the biblical text\n- VoiceOverText must be the exact biblical wording, no paraphrasing\n- OverlaidText should be direct quotes from the biblical text (3-8 words)\n- ImagePrompts MUST depict Black Hebrew Israelites with melanated skin and traditional garments\n- You MUST create EXACTLY 20 scenes regardless of input text length - distribute the content intelligently across all 20 scenes\n- For shorter texts, expand descriptions and context while maintaining biblical accuracy\n- For longer texts, segment logically while preserving all content across the 20 scenes\n- Focus on maintaining exact biblical wording and authentic Hebrew Israelite visual representation\n- ABSOLUTELY FORBIDDEN: Caucasian, white, European, or light-skinned characters unless explicitly mentioned in input text\n- REQUIRED IN EVERY SCENE: Black Hebrew Israelites with rich melanated skin, natural hair, Hebrew garments with fringes\n\nEXAMPLE IMAGE PROMPT STRUCTURE:\n\"Black Hebrew Israelite man with deeply melanated skin and natural locs, wearing traditional Hebrew robes with visible tzitzit fringes, [specific biblical scene action], ancient Middle Eastern landscape, photorealistic, reverent biblical atmosphere, rich dark skin tone, African Hebrew heritage\"\n\nCRITICAL: Return ONLY raw JSON. No markdown, no code fences, no triple-backtick blocks, no commentary before or after the JSON. Your response must start with { and end with }. Return ONLY the JSON object.`\n  }],\n  max_tokens: 5000,\n  temperature: 0.7\n};\n\n// Return the payload\nreturn [{\n  json: requestPayload\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        240
      ],
      "id": "d4d92c14-8313-462e-97d1-202a64080a5e",
      "name": "Biblical Content Prompt Builder"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -96,
        336
      ],
      "id": "6ad7a69d-e002-498b-be11-e0dedc32f715",
      "name": "Wait 15 Seconds",
      "webhookId": "f17237d9-4b2d-4272-af94-4ff174133de3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-message-final",
              "name": "errorMessage",
              "value": "={{ $json.movie.message }}",
              "type": "string"
            },
            {
              "id": "error-status-final",
              "name": "errorStatus",
              "value": "{{ $json.movie.status }}",
              "type": "string"
            },
            {
              "id": "error-time-final",
              "name": "errorTime",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        144
      ],
      "id": "048d3f54-55aa-4336-bfee-fe3b4cb8356b",
      "name": "Error Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "video-url-final",
              "name": "finalVideoUrl",
              "value": "={{ $json.movie.url }}",
              "type": "string"
            },
            {
              "id": "video-duration-final",
              "name": "videoDuration",
              "value": "={{ $json.movie.duration }}",
              "type": "number"
            },
            {
              "id": "video-size-final",
              "name": "videoSize",
              "value": "={{ $json.movie.size }}",
              "type": "number"
            },
            {
              "id": "completion-time-final",
              "name": "completedAt",
              "value": "={{ $json.movie.ended_at }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -64
      ],
      "id": "16309c93-27eb-4795-9632-639a1cfe3978",
      "name": "Final Video Output"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "video-complete",
                    "leftValue": "={{ $json.movie.status }}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.movie.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "video-error"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "video-processing",
                    "leftValue": "={{ $json.movie.status }}",
                    "rightValue": "running",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Still Processing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -320,
        144
      ],
      "id": "559d4ce6-d55c-4b3c-b7f5-300b9049afda",
      "name": "Video Status Router"
    },
    {
      "parameters": {
        "url": "https://api.json2video.com/v2/movies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "project",
              "value": "={{ $('Generate 16:9 Spiritual Video').item.json.project }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        336
      ],
      "id": "33cc1abe-b5f1-409e-9eb2-33ec10b393b1",
      "name": "Check Video Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AHdXrQizVw41Nyzq",
          "name": "Json2Video"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.json2video.com/v2/movies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template\": \"h5yD4ZbxhCPNFQ2WoVUs\",\n  \"resolution\": \"hd\",\n  \"quality\": \"high\",\n  \"variables\": {{ JSON.stringify($('Enhanced Format for 16:9 Template').item.json.templateVariables) }},\n  \"settings\": {\n    \"sceneDuration\": \"auto\",\n    \"voiceTiming\": \"natural\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        240
      ],
      "id": "fe457fc9-425b-49e0-9a00-a566ea4787a6",
      "name": "Generate 16:9 Spiritual Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AHdXrQizVw41Nyzq",
          "name": "Json2Video"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Perplexity response and format for DYNAMIC BIBLICAL TEMPLATE\nconst response = items[0].json.choices[0].message.content;\n\n// IMPROVED JSON EXTRACTION with multiple fallback strategies\nlet sceneData;\ntry {\n  // Pre-sanitize FIRST \u2014 strip raw control chars before any processing\n  let cleanResponse = '';\n  for (let i = 0; i < response.length; i++) {\n    const c = response.charCodeAt(i);\n    cleanResponse += (c < 32 && c !== 9) ? ' ' : response[i];\n  }\n  \n  let jsonText = cleanResponse;\n  \n  const codeBlockMatch = cleanResponse.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (codeBlockMatch) {\n    jsonText = codeBlockMatch[1].trim();\n  }\n  \n  // Strategy 2: Find JSON object (match from first { to last })\n  const jsonMatch = jsonText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    jsonText = jsonMatch[0];\n  }\n  \n  // Smart single-pass quote repair using charCodes (avoids escaping issues)\n  function repairJson(text) {\n    let result = '';\n    let inStr = false;\n    let i = 0;\n    while (i < text.length) {\n      const code = text.charCodeAt(i);\n      if (inStr && code === 92) {\n        result += text[i];\n        i++;\n        if (i < text.length) { result += text[i]; i++; }\n        continue;\n      }\n      if (code === 34) {\n        if (!inStr) {\n          inStr = true;\n          result += text[i];\n        } else {\n          let j = i + 1;\n          while (j < text.length && text.charCodeAt(j) === 32) j++;\n          const nx = j < text.length ? text.charCodeAt(j) : -1;\n          let closing = false;\n          if (nx === 125 || nx === 93 || nx === 58) {\n            closing = true;\n          } else if (nx === 44) {\n            let k = j + 1;\n            while (k < text.length && text.charCodeAt(k) === 32) k++;\n            const ac = k < text.length ? text.charCodeAt(k) : -1;\n            if (ac === 34) {\n              const sub = text.substring(k + 1, k + 25);\n              closing = sub.startsWith('overlaidText') || sub.startsWith('voiceOverText') || sub.startsWith('imagePrompt') || sub.startsWith('motionDescription') || sub.startsWith('scenes');\n            } else {\n              closing = (ac === 123 || ac === 91 || ac === 125 || ac === 93);\n            }\n          }\n          if (closing) {\n            inStr = false;\n            result += text[i];\n          } else {\n            result += String.fromCharCode(39);\n          }\n        }\n      } else {\n        result += text[i];\n      }\n      i++;\n    }\n    return result;\n  }\n  jsonText = repairJson(jsonText);\n  sceneData = JSON.parse(jsonText);\n} catch (error) {\n  // Enhanced error message with response preview\n  const preview = response.substring(0, 500);\n  throw new Error(\n    `Failed to parse Perplexity response: ${error.message}\\n\\n` +\n    `Response preview (first 500 chars):\\n${preview}\\n\\n` +\n    `Response length: ${response.length} characters`\n  );\n}\n\n// Get scenes array\nlet scenes = sceneData.scenes || [];\n\nif (scenes.length === 0) {\n  throw new Error('No scenes found in response. Raw response: ' + response);\n}\n\n// Function to clean text for JSON safety\nfunction cleanText(text) {\n  if (!text) return '';\n  return text\n    .replace(/\"/g, \"'\")\n    .replace(/\\n/g, \" \")\n    .replace(/\\r/g, \" \")\n    .replace(/\\t/g, \" \")\n    .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n    .trim();\n}\n\n// Format scenes for TEMPLATE with DYNAMIC VARIABLES\nconst templateVariables = {};\n\n// Define motion effects array for variety\nconst motionTypes = [\"zoom-in\", \"zoom-out\", \"ken-burns\", \"pan-right\", \"pan-left\"];\n\n// Add ONLY the actual scenes as template variables WITH MOTION EFFECTS\nscenes.forEach((scene, index) => {\n  const sceneNum = index + 1;\n  \n  // Standard scene variables\n  templateVariables[`scene${sceneNum}_overlaidText`] = cleanText(scene.overlaidText || scene.title || `Scene ${sceneNum}`);\n  templateVariables[`scene${sceneNum}_voiceOverText`] = cleanText(scene.voiceOverText || scene.voiceoverText || scene.description || '');\n  templateVariables[`scene${sceneNum}_imagePrompt`] = cleanText(scene.imagePrompt || scene.imageDescription || `Biblical scene ${sceneNum}`);\n  \n  // CINEMATIC MOTION EFFECTS - Different for each scene (JSON2Video Compatible)\n  const sceneMotion = motionTypes[index % motionTypes.length];\n  \n  templateVariables[`scene${sceneNum}_animation`] = \"ken-burns\";\n  templateVariables[`scene${sceneNum}_motionType`] = sceneMotion;\n  \n  switch(sceneMotion) {\n    case \"zoom-in\":\n      templateVariables[`scene${sceneNum}_zoom`] = 5;\n      templateVariables[`scene${sceneNum}_pan`] = \"\";\n      templateVariables[`scene${sceneNum}_panDistance`] = 0.1;\n      break;\n    case \"zoom-out\":\n      templateVariables[`scene${sceneNum}_zoom`] = -4;\n      templateVariables[`scene${sceneNum}_pan`] = \"\";\n      templateVariables[`scene${sceneNum}_panDistance`] = 0.1;\n      break;\n    case \"ken-burns\":\n      templateVariables[`scene${sceneNum}_zoom`] = 3;\n      templateVariables[`scene${sceneNum}_pan`] = \"right\";\n      templateVariables[`scene${sceneNum}_panDistance`] = 0.3;\n      break;\n    case \"pan-right\":\n      templateVariables[`scene${sceneNum}_zoom`] = 1;\n      templateVariables[`scene${sceneNum}_pan`] = \"right\";\n      templateVariables[`scene${sceneNum}_panDistance`] = 0.25;\n      break;\n    case \"pan-left\":\n      templateVariables[`scene${sceneNum}_zoom`] = 1;\n      templateVariables[`scene${sceneNum}_pan`] = \"left\";\n      templateVariables[`scene${sceneNum}_panDistance`] = 0.25;\n      break;\n  }\n  \n  templateVariables[`scene${sceneNum}_animationDuration`] = 8;\n  templateVariables[`scene${sceneNum}_easing`] = \"ease-in-out\";\n  templateVariables[`scene${sceneNum}_motionIntensity`] = \"medium\";\n});\n\n// Add scene count for template logic\ntemplateVariables.totalScenes = scenes.length;\ntemplateVariables.sceneDuration = \"auto\";\n\n// Add ElevenLabs voice configuration\ntemplateVariables.voiceModel = \"elevenlabs\";\ntemplateVariables[\"voice.ConnectionID\"] = \"my-elevenlabs-connection\";\ntemplateVariables.voiceID = \"NgBYGKDDq2Z8Hnhatgma\";\n\n// Global motion settings\ntemplateVariables.globalAnimation = \"enabled\";\ntemplateVariables.motionSmoothing = \"high\";\ntemplateVariables.cinematicMode = \"professional\";\n\n// Title card variables (v7 Phase 1)\nconst rawInput = $('Bible Chapter Text Input').item.json.inputText;\nconst titleMatch = rawInput.match(/^((?:[1-3]\\s)?[A-Z][a-z]+(?:\\s[A-Z][a-z]+)?)\\s+(\\d+)/);\nconst bookName = titleMatch ? titleMatch[1] : \"The Word of God\";\nconst chapterNum = titleMatch ? titleMatch[2] : \"\";\ntemplateVariables['title_bookChapter'] = chapterNum ? `${bookName} ${chapterNum}` : bookName;\ntemplateVariables['title_subtitle'] = \"A Cinematic Vision of Scripture\";\ntemplateVariables['title_backgroundPrompt'] = \"Majestic ancient biblical skyline at golden dawn, divine light, cinematic\";\n\n// Return the template variables\nconst result = {\n  scenes: scenes,\n  templateVariables: templateVariables,\n  totalScenes: scenes.length,\n  debugInfo: {\n    originalResponseLength: response.length,\n    parsedScenesCount: scenes.length,\n    templateVariablesCount: Object.keys(templateVariables).length,\n    motionEffectsAdded: scenes.length,\n    voiceConfiguration: \"elevenlabs-enabled\",\n    timestamp: new Date().toISOString(),\n    version: 'Template Variables v7.0 - Phase 1: Dramatic Ken Burns + Title Card'\n  }\n};\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        240
      ],
      "id": "6dbc8bfe-c03e-4a7e-b3c3-0b2d30b1d371",
      "name": "Enhanced Format for 16:9 Template"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "lowercaseHeaders": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        240
      ],
      "id": "889dd655-0b50-4560-903b-424f2b6db735",
      "name": "Perplexity AI Scene Generator",
      "credentials": {
        "httpBearerAuth": {
          "id": "xWzVuBnJ3gAEZfcD",
          "name": "Perplexity"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "input-content-final",
              "name": "inputText",
              "value": "At that time, Jesus went on the Sabbath day through the corn, and his Disciples were an hungered, and began to pluck the ears of corn, and to eate. But when the Pharisees saw it, they said unto him, Behold, thy Disciples do that which is not lawful to do upon the Sabbath day.\nBut he said unto them, have ye not read what David did when he was an hungered, and they that were with him, How he entred into the house of God, and did eate the show bread, which was not lawful for him to eate, neither for them which were with him, but, only for the Priests? Or have ye not read in the law, how that on the Sabbath days the Priests in the Temple profane the Sabbath, and are blameless?\nBut I say unto you, that in this place is one greater then the Temple. But if ye had known what this meaneth, I will have mercy, and not sacrifice, ye would not have condemned the guiltless.\nFor the son of man is Lord even of the Sabbath day. And when he was departed thence, he went into their Synagogue.\nAnd behold, there was a man which had his hand withered, and they asked him, saying, Is it lawful to heal on the Sabbath days? that they might accuse him.\nAnd he said unto them, What man shall there be among you, that shall have one sheep: and if it fall into a pit on the Sabbath day, will he not lay hold on it, and lift it out? How much then is a man better then a sheep?\nWherefore it is lawful to do well on the Sabbath days. Then saith he to the man, Stretch forth thine hand: and he stretched it forth, and it was restored whole, like as the other.\nThen the Pharisees went out, and held a counsel against him, how they might destroy him. But when Jesus knew it, he withdrew himself from thence: and great multitudes followed him, and he healed them all, And charged them that they should not make him known: That it might be fulfilled which was spoken by Isaiah the Prophet, saying, Behold, my servant whom I have chosen, my beloved in whom my soul is well pleased: I will put my spirit upon him, and he shall show judgment to the Gentiles.\nHe shall not strive, nor cry, neither shall any man hear his voice in the streets. A bruised reed shall he not break, and smoking flax shall he not quench, till he send forth judgment unto victory.\nAnd in his name shall the Gentiles trust. Then was brought unto him one possessed with a devil, blind, and dumb: and he healed him, insomuch that the blind and dumb both spoke and saw.\nAnd all the people were amazed, and said, Is this the son of David? But when the Pharisees heard it, they said, This fellow doeth not cast out devils, but by Beelzebub the prince of the devils.\nAnd Jesus knew their thoughts, and said unto them, every kingdom divided against it self, is brought to desolation: and every city or house divided against it self, shall not stand. And if Satan cast out Satan, he is divided against himself; how shall then his kingdom stand?\nAnd if I by Beelzebub cast out devils, by whom do your children cast them out? Therefore they shall be your Judges.\nBut if I cast out devils by the Spirit of God, then the kingdom of God is come unto you. Or else, how can one enter into a strong mans house, and spoil his goods, except he first bind the strong man, and then he will spoil his house.\nHe that is not with me, is against me: and he that gathereth not with me, scattereth abroad. Wherefore I say unto you, All manner of sin and blasphemy shall be forgiuen unto men: but the blasphemy against the holy Ghost, shall not be forgiuen unto men.\nAnd whosoever speaketh a word against the son of man, it shall be forgiuen him: but whosoever speaketh against the holy Ghost, it shall not be forgiuen him, neither in this world, neither in the world to come. Either make the tree good, and his fruit good: Or else make the tree corrupt, and his fruit corrupt: For the tree is known by his fruit.\nO generation of vipers, how can ye, being evil, speak good things? For out of the abundance of the heart the mouth speaketh.\nA good man out of the good treasure of the heart, bringeth forth good things: and an evil man out of the evil treasure, bringeth forth evil things. But I say unto you, That every idle word that men shall speak, they shall give account thereof in the day of judgment.\nFor by thy words thou shalt be justified, and by thy words thou shalt be condemned. Then certain of the Scribes, and of the Pharisees, answered, saying, Master, we would see a sign from thee.\nBut he answered, and said to them, An evil and adulterous generation seeketh after a sign, and there shall no sign be given to it, but the sign of the Prophet Jonah. For as Jonah was three days and three nights in the whales belly: so shall the son of man be three days and three nights in the heart of the earth.\nThe men of Nineveh shall rise in judgment with this generation, and shall condemn it, because they repented at the preaching of Jonah, and behold, a greater then Jonah is here. The Queen of the South shall rise up in the judgment with this generation, and shall condemn it: for she came from the uttermost parts of the earth to hear the wisdom of Solomon, and behold, a greater then Solomon is here.\nWhen the unclean spirit is gone out of a man, he walketh through dry places, seeking rest, and findeth none. Then he saith, I will return into my house from whence I came out; And when he is come, he findeth it empty, swept, and garnished.\nThen goeth he, and taketh with himself seven other spirits more wicked then himself, and they enter in and dwell there: And the last state of that man is worse then the first. even so shall it be also unto this wicked generation.\nWhile he yet talked to the people, behold, his mother and his brethren stood without, desiring to speak with him. Then one said unto him, Behold, thy mother and thy brethren stand without, desiring to speak with thee.\nBut he answered, and said unto him that told him, Who is my mother? And who are my brethren?\nAnd he stretched forth his hand toward his disciples, and said, Behold, my mother and my brethren. For whosoever shall do the will of my Father which is in heaven, the same is my brother, and sister, and mother.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1632,
        240
      ],
      "id": "e8049de2-08bf-4e63-b92e-43774fc06330",
      "name": "Bible Chapter Text Input"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1856,
        240
      ],
      "id": "7a59796e-c92a-4f24-875d-412230011f5f",
      "name": "Start Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Video Status Router": {
      "main": [
        [
          {
            "node": "Final Video Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Status": {
      "main": [
        [
          {
            "node": "Video Status Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate 16:9 Spiritual Video": {
      "main": [
        [
          {
            "node": "Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Format for 16:9 Template": {
      "main": [
        [
          {
            "node": "Generate 16:9 Spiritual Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity AI Scene Generator": {
      "main": [
        [
          {
            "node": "Enhanced Format for 16:9 Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bible Chapter Text Input": {
      "main": [
        [
          {
            "node": "Biblical Content Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Biblical Content Prompt Builder": {
      "main": [
        [
          {
            "node": "Perplexity AI Scene Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Workflow": {
      "main": [
        [
          {
            "node": "Bible Chapter Text Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15 Seconds": {
      "main": [
        [
          {
            "node": "Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f06a4454-0105-4d1c-831e-7daeb71f23e0",
  "meta": {
    "instanceId": "1eeefdc376334d61f01d36766d159f46708c6e5b85ad002d5bccb8d39028dc5e"
  },
  "id": "E4WGaVxw2jkQRbB4",
  "tags": []
}